.label {
   user-select: none;
}

.label.active {
   font-weight: 500;
   --tw-text-opacity: 1;
   color: rgb(0 0 0 / var(--tw-text-opacity));
}

.search-input {
   color: rgba(0, 0, 0, 0.85);
   font-weight: 500;
}

.search-input::placeholder {
   font-weight: 400;
}
